/* ============================================================================================================================== */
/* Set Global Style  */
/* ============================================================================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding: 30px;
    background-image: url(../images/light_grey.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    }

/* ============================================================================================================================== */
/* Headers  */
/* ============================================================================================================================== */



#h1header {
    font-family: 'Faster One', cursive;
    color: rgb(85, 0, 135);
    font-size: 30px;
    background-color: rgb(209, 209, 209);
}

#h3header {
    font-family: 'Faster One', cursive;
    color: rgb(85, 0, 135);
    font-size: 16px;
    background-color: rgb(209, 209, 209);
}

#h4header {

    background-color: rgb(85, 0, 135);
    margin-bottom: 30px;
}


/* ============================================================================================================================== */
/* Card that holds the Train Schedule tabl  */
/* ============================================================================================================================== */

.card {
    margin-bottom: 30px;    
}

.thead-light {
    font-weight: bolder;
}

#thAction {
    text-align: center;
}

.card-header {
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(209, 209, 209);
}

/* Action buttons created in the train schedule table */
.actionBtn {
    vertical-align: text-top;
    float: left;

    color: white;
    border-radius: 5px;
    padding: 2px;

    text-align: center;
    text-decoration: none;
    font-size: 12px;
    background-color: rgb(85, 0, 135);
}


/* ============================================================================================================================== */
/* Form for the input fields  */
/* ============================================================================================================================== */

.formLabel {
    font-weight: bolder;
}


.btn {
    background-color: rgb(85, 0, 135);

}